/* .asidebar {
    width: 105px;
    min-height: 100vh;
    position: absolute;
    box-shadow: 10px 3px 15px rgba(0, 0, 0, 0.05);
    border-radius: 20px 0px 20px 20px;
} */

.asidebar {
    background-color: #fff;
    box-shadow: 10px 3px 15px rgba(0, 0, 0, 0.05);
    border-radius: 20px 0px 20px 20px;

    min-width: 306px !important;
    max-width: 306px !important;
    min-height: 100vh;
    padding: 26px 46px 33px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.asidebar .sidebar-logo a {
    text-decoration: none;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
}
.asidebar .sidebar-logo img {
    width: 28px;
    height: 32px;
    margin-right: 11px;
}

/* @media only screen and (min-width: 768px) {

} */