a.nav-link {
    padding: 6px 17px;
    color: #42474A;
    line-height: 21px;
    font-weight: 400;
    position: relative;


}

a.nav-link.active::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 40%;
    width: 16px;
    height: 2px;
    background-color: #713BDB;
    border-radius: 1px;

    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

a.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 40%;
    width: 0px;
    height: 0px;
    background-color: #713BDB;
    border-radius: 1px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

a.nav-link:hover::after {
    right: initial;
    left: 40%;
    width: 16px;
    height: 2px;
}

/* a.nav-link:hover a::after {
    left: 0;
    right: 30%;
    width: 16px;
    height: 2px;
    border: 1px solid transparent;
} */

.navbar a.active {
    color: #713BDB;
    font-weight: 600;
}