body{
  margin: 0px;
  padding: 0px;
  background-color: rgba(244, 245, 249, 1);
}

.container-fluid{
  padding: 0px;

}

.container-fluid .row{
  margin: 0px;
}

.container-fluid .row [class*="col-"] {
  padding: 0px;
}